body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #292929;
}
header {
  width: 100%;
  height: 10vh;
  color: #fff;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav > ul > li {
  flex-grow: 1;
  padding: 0.5em 1em;
  border-left: 1px solid #eee;
}
nav > ul > li > a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
}