<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/index.html">HOME</a></li>
        <li><a href="/src/components/boxGeometry/boxGeometry.html">BoxGeometry</a></li>
        <li><a href="/src/components/sphereGeometry/sphereGeometry.html">SphereGeometry</a></li>
        <li><a href="/src/components/plainGeometry/plainGeometry.html">PlainGeometry</a></li>
        <li><a href="/src/components/bufferGeometry/bufferGeometry.html">bufferGeometry</a></li>
        <li><a href="/src/components/material-mesh/material-mesh.html">Material & Mesh</a></li>
        <li><a href="/src/components/light/light.html">Light</a></li>
        <li><a href="/src/components/camera/camera.html">Camera</a></li>
        <li><a href="/src/components/camera-control/camera-control.html">Camera Control</a></li>
        <li><a href="/src/components/particles/particles.html">Particles</a></li>
        <li><a href="/src/components/scrollAnimation/scrollAnimation.html">Scroll Animation</a></li>
      </ul>
    </nav>
  </header>
  <script type="module" src="./plainGeometry.js"></script>
</body>
</html>